<h1>AYUDA</h1>
<h2>¿Qué es Quiz?</h2>
<p>Quiz es una red social para crear adivinanzas</p>
<h2>¿Cuál es el objetivo?</h2>
<p>Se trata de un proyecto educativo para mostrar
<ul>
    <li>Arquitectura de una aplicación Web del lado servidor</li>
    <li>Metodologías de desarrollor</li>
    <li>Los elementos más importantes de un portal Web</li>
</ul>
</p>